/* Write your CSS here */
.img-card {
  height: 80px;
}
.card-h1 {
  font-family: Bree Serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
.logo-li {
  background-color: #0f172a;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
}
.pp {
  font-family: Bree Serif;
  color: white;
}
.green {
  color: green;
}
.red {
  color: red;
}
